@media screen and (max-width: 1199px){
    .four_container_left{
        min-width: 470px;
        height: 473px;
    }
    .four_container_right{
        width: 470px;
        height: 473px;
    }
    .four_container_right h2{
        margin-top: 40px;
    }
    .flowers_container{
        max-width: 940px;
    }
}
@media screen and (max-width: 1190px){
    .sneakers_container{
        flex-wrap: wrap;
        max-width:650px;
        justify-content: center;
    }
}
@media screen and (max-width: 1110px){
.footer_container{
    flex-wrap: wrap;
    justify-content: center;
}
}
/* @media screen and (max-width: 1067px){
    .hamb_menu{
        display: block;
    }
} */
@media screen and (max-width: 1046px){
    .header_left p{
        width: 380px;
    }
}
@media screen and (max-width: 1029px){
    
.jemma_container{
    max-width: 960px;
}
.jemma_container_left{
    width: 480px;
}
.jemma_container_right{
    width: 480px;
}
}
@media screen and (max-width: 968px){
    .four_container_right{
        display: flex;
        align-items: center;
    }
    .four_container_right h2{
        font-size: 300%;
    }
}
@media screen and (max-width: 939px){
    
    .jemma_container{
        max-width: 720px;
    }
    .jemma_container_left{
        width: 360px;
    }
    .jemma_container_right{
        width: 360px;
    }
    .jemma_container_right img{
        width: 360px;
    }
    .jemma_container_left h1{
        font-size: 300%;
    }
    }


@media screen and (max-width: 850px){
    .studio_container{
        max-width: 650px;
    }
    .about{
        font-size: 400%;
        top: -70px;
     }
}
@media screen and (max-width: 827px){
.flowers_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.four_container_left{
    min-width: 540px;
    height: 543px;
}
.four_container_right{
    min-width: 540px;
    height: 243px;
}
}
@media screen and (max-width: 820px){
    .header_left{
        width: 100%;
        height: 450px;
        text-align: center;
    }
    .header_left p{
        width: 100%;
    }
    .header_right{
        width: 100%;
    }
 .header_main{
    flex-wrap: wrap;
 }

}
@media screen and (max-width: 785px){
    .header_left{
        margin-top: 10px;
    }
    .header_left p{
        width:400px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .header_left h1{
        font-size: 400%;
    }
}

@media screen and (max-width: 729px){
    .jemma_container{
        flex-wrap: wrap;
    }
    .jemma_container_left{
        width: 100%;
    }
    .jemma_container_right{
      width: 540px;
       margin: 0 auto;
    }
    .jemma_container_right img{
        width: 100%;
    }
    }

    @media screen and (max-width: 701px){
        .jemma_container_left{
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        .jemma_container_left p{
            width: 320px;
        }
    }
    @media screen and (max-width: 630px){
        .footer_container_right{
            width: 345px;
        }
        .footer_container_right img{
            height: 390px;
        }
    }
    @media screen and (max-width: 620px){
   .sneakers_container_left{
    flex-wrap: wrap;
   }
    }


    @media screen and (max-width: 570px){
        .studio_container_img{
            width: 350px;    
            height: 300px;
            position: relative;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;    
        }
        .about{
            font-size: 180%;
            position: absolute;
            top: -45px;
            font-family: 'Playfair Display', serif;

        }
        .quickly{
            width: 350px;
            height: 220px;
            margin: 0 auto;

        }
    }

    @media screen and (max-width: 540px){
        .jemma_container_right{
            width: 340px;
        }
        .jemma_container_right img{
            width: 340px;
            height: 342px;
        }
    }
    

    @media screen and (max-width: 480px){
        .four_container_left{
            min-width: 340px;
            height: 280px;
        }
    } 
    @media screen and (max-width: 456px){
        .header_left{
            margin-top: 10px;
        }
        .header_left p{
            width:300px;
            margin: 0 auto;
            margin-top: 30px;
        }
        .header_left h1{
            font-size: 400%;
        }
    }
    

    @media screen and (max-width: 420px){
        .sneakers_container_right{
            width: 350px;
            height: 360px;
        }
    }


